# Pandas Tutorial

Created on 29/12/2017, Fan Li

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 创建对象

**Series 是一个值的序列，它只有一个列，以及索引。下面的例子中，就用默认的整数索引**

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**DataFrame 是有多个列的数据表，每个列拥有一个 label，当然，DataFrame 也有索引**

In [8]:
dates = pd.date_range('20180101', periods=6)

In [9]:
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2018-01-01  0.912509 -0.014837  0.270074 -0.861962
2018-01-02 -0.572174 -1.095305 -1.218803 -0.863354
2018-01-03  0.382323  0.597553  1.678486 -0.236423
2018-01-04  1.271941 -0.725430  0.194973  1.047299
2018-01-05 -0.049822  0.284509  0.384576  1.245982
2018-01-06  0.388088 -2.532653 -0.238560  1.730510

**如果参数是一个 dict，每个 dict 的 value 会被转化成一个 Series**

In [13]:
df2 = pd.DataFrame({
    'A' : 1.,
    'B' : pd.Timestamp('20180102'),
    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
    'D' : np.array([3]*4, dtype="int32"),
    'E' : pd.Categorical(["test", "train", "test", "train"]),
    'F' : 'Fan'
})

In [14]:
df2

     A          B    C  D      E    F
0  1.0 2018-01-02  1.0  3   test  Fan
1  1.0 2018-01-02  1.0  3  train  Fan
2  1.0 2018-01-02  1.0  3   test  Fan
3  1.0 2018-01-02  1.0  3  train  Fan